@import "tailwindcss";
@import "@fontsource-variable/rubik";
@import "@fontsource-variable/open-sans";

@theme {
  --font-header: "Rubik Variable", sans-serif;
  --font-body: "Open Sans Variable", sans-serif;
  --btn-primary: #16423c;
  --btn-primary-hover: #0d2824;
  --btn-secondary: #6a9c89;
  --btn-secondary-hover: #557d6e;
}